body{
  background-color: black;
  color: white;
  font-family: Arial;
  padding: 20px;
}

.logo {
  background-color: black;
  padding: 25px 50px 25px;
}

.level-img {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 300px;
}
.characters-img {

  width: 500px;
  /* padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;*/
  padding-left: 20px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vid-padding{
  padding: 50px;
}

button{
  background-color: #a0e016;
  color: black;
  border: none;
  margin: 10px;
}

/* .btn-twitter{
  background-color: #a0e016;
  color: black;
  border: none;
}

.btn-facebook{
  background-color: #a0e016;
  color: black;
  border: none;
}

.btn-instagram{
  background-color: #a0e016;
  color: black;
  border: none;
} */

.header{
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* create two unequal columns that float next to each other*/
.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn{
  float: left;
  width: 25%;
  padding-left: 20px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a card effect for articles */
.card {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.icon-img{
  border: 3px solid #ddd;
  border-radius: 5px;
  border-color:#a0e016;
  padding: 2px;
  width: 75px;
  border-radius: 50%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
